@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');            
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* font-family: 'Montserrat Alternates', sans-serif; */
/* font-family: 'Nova Square', sans-serif; */
/* font-family: 'Sriracha', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    scroll-behavior: smooth;
}

/*==============================================*/

.addTask {
    background: #3498db;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: scale(0.05);
    transition: 0.5s ease-in-out;
    z-index: 99;
    transform-origin: top left;
}

.addTask.active {
    top: 20px;
    left: 20px;
    transform: scale(1);
    z-index: 99999;
    transition: 0.5s ease-in-out;
}

.addToggle {
    height: 70px;
    width: 70px;
    top: 20px;
    left: 20px;
    position: absolute;
    background: #3498db;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 70px;
    color: white;
    display: grid;
    align-items: center;
    transform: rotate(0);
    z-index: 999;
    transition: 0.5s ease-in-out;
}

.addToggle.active {
    z-index: 999999;
    transform: rotateZ(405deg);
    transition: 0.5s ease-in-out;
}

.addTask p {
    text-align: center;
    font-family: 'Sriracha', cursive;
    color: white;
    font-size: 50px;
}

.addTask .task-name {
    width: 80%;
    transform: translateX(10%);
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Sriracha', cursive;
}

input::placeholder {
    color: white;
    font-family: 'Sriracha', cursive;
}

.addTask .timeInput {
    width: 80%;
    transform: translateX(10%);
    display: grid;
    grid-template-rows: 40px 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.addTask .timeInput .timeLabels {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
}

.addTask .timeInput .timeInputs {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
}

.addTask .timeInput .timeInputs input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Sriracha', cursive;
    text-align: center;
}

.addTask .add-task {
    background: transparent;
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    height: 50px;
    width: 40%;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%) scale(1);
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    transition: 0.3s ease-in-out;
}

.addTask .add-task:hover {
    background: #081b29;
    border: none;
    transition: 0.3s ease-in-out;
}

.addTask .add-task:active {
    transform: translateX(-50%) scale(0.8);
    transition: 0.3s ease-in-out;
}

.select-menu {
    width: 400px;
    top: 0;
    position: absolute; 
    left: 420px;
    font-family: 'Sriracha', cursive;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #3498db;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: white;
}
.select-btn ion-icon{
    font-size: 35px;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.select-menu.active .select-btn ion-icon{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #3498db;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.select-menu.active .options{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #3498db;
    color: white;
    transition: 0.4s ease-in-out;
}
.options .option:hover{
    background: #081b29;
    transition: 0.4s ease-in-out;
}
.option ion-icon{
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-right: 12px;
}
.option .option-text{
    font-size: 24px;
    font-weight: bold;
    color: white;
}        

/*============================================*/

.editTask {
    width: 820px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 99;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 20px;    
    opacity: 0;
    pointer-events: none;
    transition: 0.8s ease-in-out;
    z-index: 1000;
}

.editTask.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.8s ease-in-out;
}

.dimDim {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.8s ease-in-out;
    z-index: 1000;
}

.dimDim.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.8s ease-in-out;
}

.select-menu-2 {
    width: 400px;
    margin: auto 0;
    font-family: 'Sriracha', cursive;
    z-index: 9999;
    transform: translateY(-15px);
}

.select-menu-2 .select-btn-2 {
    display: flex;
    height: 55px;
    background: #3498db;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: white;
}

.select-btn-2 ion-icon{
    font-size: 35px;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.select-menu-2 .options-2 {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #3498db;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.options-2 .option_ {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #3498db;
    color: white;
    transition: 0.4s ease-in-out;
}
.options-2 .option_:hover{
    background: #081b29;
    transition: 0.4s ease-in-out;
}
.option_ ion-icon{
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-right: 12px;
}
.option_ .option-text{
    font-size: 24px;
    font-weight: bold;
    color: white;
}        

.left-ham {
    background: #3498db;
    width: 400px;
    height: 330px;
    margin: auto 0;
    position: relative;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9999;
}

.left-ham p {
    text-align: center;
    font-size: 70px;
    font-family: 'Sriracha', cursive;
    color: white; 
}

.left-ham .edit-task-name {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    color: white;
    font-size: 30px;
    font-family: 'Sriracha', cursive;
    width: 80%;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-ham .timeInput {
    width: 80%;
    transform: translateX(10%);
    display: grid;
    grid-template-rows: 40px 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-ham .timeInput .timeLabels {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
}

.left-ham .timeInput .timeInputs {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
}

.left-ham .timeInput .timeInputs input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Sriracha', cursive;
    text-align: center;
}

.left-ham .btns {
    position: absolute;
    width: 80%;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 20px;
    place-items: center;
}

.btns button {
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Sriracha', cursive;
    color: white;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.btns button:hover {
    background: #081b29;
    border: none;
    transition: 0.3s ease-in-out;
}

.btns button:active {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

/*==============================================*/

#clear-all {
    height: 70px;
    width: 200px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid red;
    border-radius: 30px;
    color: white;
    font-family: 'Nova Square', sans-serif;
    font-weight: 700;
    font-size: 30px;
    box-shadow: none;
    text-shadow: none;
    transition: 0.5s ease-in-out;
    margin-right: 20px;
    margin-top: 50px;
}

#clear-all:hover {
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
    background: red;
    transition: 0.5s ease-in-out;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20pc black;
}

#export {
    height: 70px;
    width: 200px;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid green;
    border-radius: 30px;
    color: white;
    font-family: 'Nova Square', sans-serif;
    font-weight: 700;
    font-size: 30px;
    box-shadow: none;
    text-shadow: none;
    transition: 0.5s ease-in-out;
    margin-left: 20px;
    margin-top: 50px;
}

#export:hover {
    box-shadow: 0 0 10px green, 0 0 20px green, 0 0 40px green;
    background: green;
    transition: 0.5s ease-in-out;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20pc black;
}

/*============================================*/

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5) translateY(200px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.task.zoology {
    background: url('zoology.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;   
}
.task.botany {
    background: url('botany.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.task.physical {
    background: url('Phychem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.task.inorganic {
    background: url('Inorgchem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.task.organic {
    background: url('Orgchem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.task.physics {
    background: url('physics.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.parent-task {
    width: 500px;
    height: 200px;
    margin-top: 30px;
    background: #081b29;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 20px yellow;
    transition: 0.8s ease-in-out;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.parent-task.active {
    box-shadow: none;
    transition: 0.8s ease-in-out;
}

.task {
    height: 100%;
    width: 100%;
    transition: 0.8s ease-in-out;
    display: grid;
    place-items: center;
    filter: grayscale(0) blur(0);
    transition: 0.5s ease-in-out;
}

.task.active {
   filter: grayscale(1) blur(5px);
    transition: 0.5s ease-in-out;
}

.task:hover {
    background-size: 120%;
    background-position: center;
    transition: 0.5s ease-in-out;
}

.task .dim {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.8s ease-in-out;
}

.task .edit {
    height: 60px;
    width: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: yellow;
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    place-itmes: center;
    color: black;
    font-size: 45px;
}

.task .edit ion-icon {
    transform: translate(8px,8px);
}

.parent-task .tick {
    height: 60px;
    width: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    color: black;
    font-size: 50px;
    z-index: 1;
}

.tick .done {
    opacity: 0;
    transform: scale(0);
    transition: 0.5s ease-in-out;
    position: absolute;
}

.tick.active .done {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.tick .undone {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    position: absolute;
}

.tick.active .undone {
    opacity: 0;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.task-details {
    width: calc(100% - 150px);
    height: 160px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    z-index: 9;
    font-family: 'Montserrat Alternates', sans-serif;
    display: grid;
    grid-template-rows: 120px 30px;
    grid-row-gap: 10px;
    pointer-events: none;
    text-shadow: 0 0 4px black, 0 0 10px black, 0 0 15px black;
}

.task-details .name {
    overflow: hidden;
    display: grid;
    place-items: center;
}

/*==============================================*/

.boundry {
    background: yellow;
    height: 4px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px yellow, 0 0 40px yellow, 0 0 80px yellow, 0 0 100px yellow;
}

/*=============================================*/

.emptyText {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Nova Square', sans-serif; 
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
    transform: translateY(16px);
}

#emptyTextOne {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Nova Square', sans-serif; 
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
    transform: translateY(16px);
}

/*==============================================*/

.runningTaskCont #runningTask {
    height: 350px;
    width: 550px;
    display: grid;
    place-items: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black;
}

.child {
    position: absolute; 
    z-index: -1;
    top: 50%;
    left: 50%; 
    width: 1000%;
    height: 1000%; 
    transform: translate(-50%, -50%); 
    animation: gradientAnimation 120s ease infinite; 
    background: linear-gradient(135deg, 
                                #FF3E30, 
                                #FF4C00, 
                                #FF7A00, 
                                #C70000, 
                                #900000, 
                                #5C0F0F, 
                                #3F7F3F, 
                                #2F6E2F, 
                                #007B5F, 
                                #30B2FF, 
                                #0E4C9A, 
                                #0A1F3D, 
                                #5C0F0F, 
                                #3F7F3F, 
                                #2F6E2F, 
                                #FF3E30, 
                                #FF5733, 
                                #FF7043, 
                                #FF8D3B, 
                                #FFC300, 
                                #FFF700, 
                                #E4FF00, 
                                #A6FF00, 
                                #5DFF00, 
                                #00FF59, 
                                #00FFA3, 
                                #00B3FF, 
                                #0080FF, 
                                #0056FF, 
                                #0035FF, 
                                #1D1D1D); 
    background-size: 400% 400%; 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%; 
    }
    5% {
        background-position: 20% 20%; 
    }
    10% {
        background-position: 40% 40%; 
    }
    15% {
        background-position: 60% 60%; 
    }
    20% {
        background-position: 80% 80%; 
    }
    25% {
        background-position: 100% 100%; 
    }
    30% {
        background-position: 80% 80%;
    }
    35% {
        background-position: 60% 60%; 
    }
    40% {
        background-position: 40% 40%; 
    }
    45% {
        background-position: 20% 20%; 
    }
    50% {
        background-position: 0% 0%; 
    }
    55% {
        background-position: 20% 20%; 
    }
    60% {
        background-position: 40% 40%; 
    }
    65% {
        background-position: 60% 60%; 
    }
    70% {
        background-position: 80% 80%; 
    }
    75% {
        background-position: 100% 100%; 
    }
    80% {
        background-position: 80% 80%;
    }
    85% {
        background-position: 60% 60%; 
    }
    90% {
        background-position: 40% 40%; 
    }
    95% {
        background-position: 20% 20%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}

#runningTask .wrapper {
    height: 300px;
    width: 500px;
    display: grid;
    grid-template-rows: 150px 130px;
    grid-row-gap: 20px;
}

.wrapper .header {
    display: grid;
    grid-template-rows: 50px 90px;
    grid-row-gap: 10px;
}

.header #running-task-subject{
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Nova Square', sans-serif; 
    color: white;
    text-shadow: 0 0 5px #081b29, 0 0 10px #081b29, 0 0 15px #081b29;
}

.header #running-task-name{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sriracha', cursive;
    color: white;
    text-shadow: 0 0 5px #081b29, 0 0 10px #081b29, 0 0 15px #081b29;
    overflow: hidden;
}

.wrapper .con {
    display: grid;    
    grid-template-rows: 40px 20px 40px;
    grid-row-gap: 15px;
}

.con .timeStamp {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 100px;
    color: white;
    text-shadow: 0 0 5px #081b29, 0 0 10px #081b29, 0 0 15px #081b29;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nova Square', sans-serif; 
}

.con #progressBar {
    background: white;
    box-shadow: 0 0 5px #081b29, 0 0 10px #081b29, 0 0 15px #081b29;
    border-radius: 10px;
    
}

.con .Countdown {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px #081b29, 0 0 10px #081b29, 0 0 15px #081b29;
    font-weight: bold;
    font-family: 'Nova Square', sans-serif;
}

/*==============================================*/

.open {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    transition: 0.6s ease-in-out;
    z-index: 999999;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    overflow: hidden;
    display: grid;
    grid-template-rows: 60vh 40vh;
}

.open.hide {
    opacity: 0;
    transform: scale(2);
    pointer-events: none;
    z-index: -1;
    transition: 0.6s;
}

.open .opener {position: relative;}

.opener button {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%,0) scale(1);
    background: #081b29;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 80px;
    width: 330px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: grid;
    grid-template-columns: 240px 80px;
    grid-template-rows: 80px;
    grid-column-gap: 10px;
    box-shadow: none;
    transition: 0.3s;
}  

.opener button:hover {
    box-shadow: 0 0 20px #081b29, 0 0 40px #081b29;
    transform: translate(-50%,0) scale(1.5);
    transition: 0.3s;
}  

.opener button div {
    height: 100%;
    width: 100%;
}

.opIC {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.opTT {
    display: flex;
    align-items: center;
    justify-content: right;
}

.waves {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 40vh;  
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*============================================*/

#exportedData {
    background: linear-gradient(135deg, #c94b4b, #a8435c, #6b2a56);
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 660px;
    padding: 30px;
    margin-bottom: 40px;
}

#exportedData h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    text-shadow: 0 0 5px black, 0 0 10px black;
}

.subject h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 5px black, 0 0 10px black;
}

.exp-Task {
    display: grid;
    grid-template-columns: 30px 560px;
    grid-column-gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;  
    position: relative;
}

.exp-task::after {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.exp-Task .checkboxDiv {
    display: grid;
    place-items: center;
}

.checkboxDiv .task-checkbox {
    height: 20px;
    width: 20px;
    accent-color: black;
}

.task-label {
    display: grid;
    grid-template-columns: 300px 240px;
    grid-column-gap: 20px;
}

.exp-name {
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px black, 0 0 8px black;
    display: flex;
    align-items: center;
}

.exp-Time-stamp {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nova Square', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px black, 0 0 10px black;
}
